<style>
    #container {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 0;
    margin: auto;
    margin-left: 10px;
    margin-top: 300px;
    top: 0; bottom: 0; left: 0; right: 0;
    }

    .overlay-logincontainer {
        position: absolute;
        top: 25%;
        left: 0;
        width: 50%;
        height: 75%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 100;
    }

    .loginoverlay {
        color: #FFFFFF;
        position: relative;
        left: 0;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }

    
</style>

<div class="d-flex flex-column flex-lg-row-auto bg-primary w-xl-600px positon-xl-relative">
    <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-600px ">
        <div class="d-flex flex-row-fluid flex-column text-center w-100">
            <div class="bg-light py-lg-10 w-100">
                <a href="/" >
                    <img alt="Logo" src="/assets/images/logo.png" class="h-100px h-lg-140px" />
                </a>
            </div>
            <div class="row mt-4">
                <div class="col-md-2"></div>
                <div class="col-md-8 w-100 pt-4">
                    <img  src="/assets/images/title.png"  />
                </div>
                <div class="col-md-2"></div>
            </div>
            <p class="d-lg-block fw-semibold fs-2 text-white"></p>
        </div>
        <div class="d-lg-block d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url(assets/media/illustrations/sigma-1/17.png)"></div>
    </div>
    
</div>

<div class="overlay-logincontainer" id ="home">
    <div class="loginoverlay">
        <div class="overlay-panel overlay-right">
            
            
        </div>
    </div>
</div>