<div class="row row-cards">
  <div class="card">
    <div class="card-header"></div>
    <div class="card-body">
      <div class="row">
        <div class="d-flex flex-stack"><div class="d-flex align-items-center me-5 col-md-4">
          <i class="fa fa-edit px-2"></i><div class="me-5">
            <a href="/database/import/eventType" class="text-gray-800">f_vs_audit_entity_type</a>
          </div></div></div>
        <div class="d-flex flex-stack"><div class="d-flex align-items-center me-5 col-md-4">
            <i class="fa fa-edit px-2"></i><div class="me-5">
            <a href="/database/import/eventSubType" class="text-gray-800">f_vs_audit_event_subtype</a>
          </div></div></div>
        <div class="d-flex flex-stack"><div class="d-flex align-items-center me-5 col-md-4">
          <i class="fa fa-edit px-2"></i><div class="me-5">
              <a href="/database/import/entityType" class="text-gray-800">f_vs_audit_entity_type</a>
            </div></div></div>
        <div class="d-flex flex-stack"><div class="d-flex align-items-center me-5 col-md-4">
          <i class="fa fa-edit px-2"></i><div class="me-5">
              <a href="/database/import/languages" class="text-gray-800">f_vs_languages</a>
            </div></div></div>
        <div class="d-flex flex-stack"><div class="d-flex align-items-center me-5 col-md-4">
          <i class="fa fa-edit px-2"></i><div class="me-5">
              <a href="/database/import/currencies" class="text-gray-800">f_vs_currencies</a>
            </div></div></div>
        <div class="d-flex flex-stack"><div class="d-flex align-items-center me-5 col-md-4">
          <i class="fa fa-edit px-2"></i><div class="me-5">
              <a href="/database/import/coverageType" class="text-gray-800">f_vs_cov_type</a>
            </div></div></div>
        <div class="d-flex flex-stack"><div class="d-flex align-items-center me-5 col-md-4">
          <i class="fa fa-edit px-2"></i><div class="me-5">
              <a href="/database/import/race" class="text-gray-800">f_vs_race</a>
            </div></div></div>
        <div class="d-flex flex-stack"><div class="d-flex align-items-center me-5 col-md-4">
          <i class="fa fa-edit px-2"></i><div class="me-5">
              <a href="/database/import/ethnicity" class="text-gray-800">f_vs_ethnicity</a>
        </div></div></div>
        <div class="d-flex flex-stack"><div class="d-flex align-items-center me-5 col-md-4">
          <i class="fa fa-edit px-2"></i><div class="me-5">
              <a href="/database/import/fhir_types" class="text-gray-800">f_vs_fhir_types</a>
        </div></div></div>
        <div class="d-flex flex-stack"><div class="d-flex align-items-center me-5 col-md-4">
          <i class="fa fa-edit px-2"></i><div class="me-5">
              <a href="/database/import/jurisdiction" class="text-gray-800">f_vs_jurisdiction</a>
        </div></div></div>


    </div>
  </div>
</div>
