<div class="modal fade" id="patient-add-modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="fs-2 fw-bold text-gray-900 my-3" >Patient Information </div>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <%- include("patientModalBody"); %>
			</div>
			
		</div>
	</div>
</div>

