<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="fname" class="required fw-semibold fs-6 mt-4 mb-2">First Name:</label>
            <input id="fname" class="form-control form-control-solid mb-3 mb-lg-0" type="text">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="mname" class="fw-semibold fs-6 mt-4 mb-2">Middle Name:</label>
            <input id="mname" class="form-control form-control-solid mb-3 mb-lg-0" type="text">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="lname" class="required fw-semibold fs-6 mt-4 mb-2">Last Name:</label>
            <input type="text" class="form-control form-control-solid mb-3 mb-lg-0" id="lname">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="gender" class="required fw-semibold fs-6 mt-4 mb-2">Gender:</label>
            <select id="gender" class="form-control form-control-solid mb-3 mb-lg-0 custom-select">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
                <option value="unknown">Unknown</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="emr_id" class="fw-semibold fs-6 mt-4 mb-2">EMR ID:</label>
            <input id="emr_id" class="form-control form-control-solid mb-3 mb-lg-0" type="number">
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label for="email" class="fw-semibold fs-6 mt-4 mb-2">Email:</label>
            <input id="email" class="form-control form-control-solid mb-3 mb-lg-0" type="text" >
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="dob" class="required fw-semibold fs-6 mt-4 mb-2">DOB:</label>
            <input id="dob" class="form-control form-control-solid mb-3 mb-lg-0" type="date" >
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="phone" class="fw-semibold fs-6 mt-4 mb-2">Phone:</label>
            <input id="phone" class="form-control form-control-solid mb-3 mb-lg-0" type="text">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="mobile" class="fw-semibold fs-6 mt-4 mb-2">Mobile:</label>
            <input id="mobile" class="form-control form-control-solid mb-3 mb-lg-0" type="text">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="language" class="fw-semibold fs-6 mt-4 mb-2">Language:</label>
            <select id="language" class="form-control form-control-solid mb-3 mb-lg-0 custom-select">
                
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="address" class="fw-semibold fs-6 mt-4 mb-2">Address:</label>
            <input id="address" class="form-control form-control-solid mb-3 mb-lg-0" type="text">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="address2" class="fw-semibold fs-6 mt-4 mb-2">Address2:</label>
            <input id="address2" class="form-control form-control-solid mb-3 mb-lg-0" type="text">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="city" class="fw-semibold fs-6 mt-4 mb-2">City:</label>
            <input id="city" class="form-control form-control-solid mb-3 mb-lg-0" type="text">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="zip" class="fw-semibold fs-6 mt-4 mb-2">Zip:</label>
            <input id="zip" class="form-control form-control-solid mb-3 mb-lg-0" type="text">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="state" class="fw-semibold fs-6 mt-4 mb-2">State:</label>
            <input id="state" class="form-control form-control-solid mb-3 mb-lg-0" type="text" value="NY">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="ethnicity" class="fw-semibold fs-6 mt-4 mb-2">Ethnicity CDC:</label>
            <select id="ethnicity" class="form-control form-control-solid mb-3 mb-lg-0 custom-select">
            </select>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="form-group">
            <label for="race" class="fw-semibold fs-6 mt-4 mb-2">Race:</label>
            <select id="race" class="form-control form-control-solid mb-3 mb-lg-0 custom-select">
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="marital" class="fw-semibold fs-6 mt-4 mb-2">Marital Status:</label>
            <select id="marital" class="form-control form-control-solid mb-3 mb-lg-0 custom-select">
            </select>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label for="deceased" class="fw-semibold fs-6 mt-4 mb-2">deceased</label>
            <div class="d-flex justify-content-center pt-4">
                <input id="deceased" class="form-check-input " type="checkbox" style="width: 20px;">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="deceased_at" class="fw-semibold fs-6 mt-4 mb-2">Date:</label>
            <input id="deceased_at" class="form-control form-control-solid mb-3 mb-lg-0" type="date" disabled>
        </div>
    </div>
</div>

<div class="modal-footer mt-8">
    <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
    <button type="button" class="btn btn-primary" id="save_patient_btn"><i class="fa fa-save">&nbsp;</i> Save</button>
 </div>
			
