
    <input type="hidden" class="form-control" id="encounter_id" data-enc-field="id">
    <input type="hidden" class="form-control" id="encounter_clinic_id" data-enc-field="clinic_id">
    <input type="hidden" class="form-control" id="encounter_patient_id" data-enc-field="patient_id">
    <input type="hidden" class="form-control" id="encounter_emr_id" data-enc-field="emr_id">
    <input type="hidden" class="form-control" id="encounter_pcp_id" data-enc-field="pcp_id">
    <div class="row">
      <div class="col-md-8 ">
          <div class="modal-title" id="encounter_title">
            <div class="d-flex align-items-center ">
              <a  class="text-gray-900 text-hover-primary fs-4 fw-bold me-1" id="encounter_modal_fullname"></a>
              <a  class="btn btn-sm btn-light-success fw-bold ms-2 fs-8 py-1 px-3" ></a>
              <div class= "fw-semibold fs-6 m-1 pe-2">
                  <a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 ">
                      <div class="symbol symbol-20px symbol-circle me-2" data-bs-toggle="tooltip"  data-kt-initialized="1">
                          <span class="symbol-label bg-info text-inverse-info fw-bold">L</span>
                      </div><div id="encounter_modal_language"></div></a>
              </div>
              <div class= "d-flex align-items-center fw-semibold fs-6 m-1 pe-2">
                  <a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 ">
                      <div class="symbol symbol-20px symbol-circle me-2" data-bs-toggle="tooltip"  data-kt-initialized="1">
                      <span class="symbol-label bg-primary text-inverse-primary fw-bold">S</span>
                      </div><div class="" id="encounter_modal_gender"></div></a>
              </div>
              <div class= "d-flex align-items-center fw-semibold fs-6 m-1 pe-2">
                  <div class=" fw-bold fs-6 pe-1 text-active-info ">DOB:</div>
                  <div class="text-gray-500" id="encounter_modal_dob"></div>
              </div>
            </div>
            <div class="d-flex flex-wrap fw-semibold fs-6 my-2 pe-2">
              <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                  <i class="ki-duotone ki-safe-home fs-4 me-1">
                      <span class="path1"></span>
                      <span class="path2"></span>
                  </i><div id="encounter_modal_clinic"></div></a>
              <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                  <i class="fa fa-phone me-2"></i><div id="encounter_modal_telephone" class="calling cursor-pointer"></div></a>
              <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                  <i class="ki-duotone ki-phone fs-4 me-1">
                      <span class="path1"></span>
                      <span class="path2"></span>
                  </i><div id="encounter_modal_phone" class="calling cursor-pointer"></div></a>
                  <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary mb-2">
              <i class="ki-duotone ki-sms fs-4 me-1">
                  <span class="path1"></span>
                  <span class="path2"></span>
              </i><div id="encounter_modal_email"></div></a>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3 d-flex align-items-center">
              <div class=" text-center me-4">
                  <div class="fs-1 fw-bold counted" id="timer_diplay" >00 : 00</div>
                  <input type="hidden" id="encounter_timer">
              </div>
              <div class="d-flex justify-content-between">
                  <a id="timer_start" class="btn btn-sm fs-8 btn-primary w-50px me-3 py-1" >Start</a>
                  <a id="timer_end" class="btn btn-sm fs-8 btn-primary w-50px py-1" >Stop</a>
              </div>
          </div>
      </div>
      
      <div class="col-md-6">
          <div class="form-group">
              <label for="encounter_reason" class="fw-semibold fs-6 my-2">Reason:</label>
              <input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-enc-field="reason" id="encounter_reason">
          </div>
      </div>
      <div class="col-md-3 d-none">
          <div class="form-group ">
              <label for="encounter_team_member" class="fw-semibold fs-6 my-2">Created By:</label>
              <input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-enc-field="team_member" id="encounter_team_member">
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="encounter_status" class="fw-semibold fs-6 my-2">Status:</label>
              <select  class="form-control select2 custom-select" id="encounter_status" data-enc-field="status"></select>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="encounter_assigned" class="fw-semibold fs-6 my-2">Assigned To:</label>
              <select  class="form-control select2 custom-select" id="encounter_assigned" data-enc-field="assigned"></select>
          </div>
      </div>
      
      <!-- <div class="col-md-2">
          <div class="form-group">
              <label for="encounter_visit_type" class="fw-semibold fs-6 my-2">Visit Type:</label>
              <input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-enc-field="visit_typ" id="encounter_visit_type">
          </div>
      </div> -->
      <!-- <div class="col-md-3">
          <div class="form-group">
              <label for="encounter_icd" class="fw-semibold fs-6 my-2">ICD:</label>
              <input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-enc-field="icd" id="encounter_icd">
          </div>
      </div> -->
      
      <!-- <div class="col-md-4">
          <div class="form-group">
              <label for="encounter_transition_care" class="fw-semibold fs-6 my-2">Transition Of Care:</label>
              <input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-enc-field="transition_care" id="encounter_transition_care">
          </div>
      </div> -->
      <!-- <div class="col-md-5">
          <div class="form-group">
              <label for="encounter_participant" class="fw-semibold fs-6 my-2">Participant:</label>
              <input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-enc-field="participant" id="encounter_participant">
          </div>
      </div> -->
      
      <div class="col-md-3">
          <div class="form-group">
              <label for="encounter_reason_use" class="fw-semibold fs-6 my-2">Reason Use:</label>
              <select  class="form-control select2 custom-select" id="encounter_reason_use" data-enc-field="reason_use"></select>
          </div>
      </div>
      <!-- <div class="col-md-3">
          <div class="form-group">
              <label for="encounter_reason_codes" class="fw-semibold fs-6 my-2">Reason Codes:</label>
              <select  class="form-control select2 custom-select" id="encounter_reason_codes" data-enc-field="reason_codes"></select>
          </div>
      </div> -->
      <div class="col-md-3">
          <div class="form-group">
              <label for="encounter_service_type" class="fw-semibold fs-6 my-2">Service Type:</label>
              <select  class="form-control select2 custom-select" id="encounter_service_type" data-enc-field="service_type">
                  <option value="Immunization">Immunization</option>
                  <option value="Health Information/Referral">Health Information/Referral</option>
                  <option value="Obstetrics & Gynaecology">Obstetrics & Gynaecology</option>
                  <option value="Ophthalmology">Ophthalmology</option>
                  <option value="Assessment">Assessment</option>
                  <option value="Asthma">Asthma</option>
                  <option value="Behavior">Behavior</option>
                  <option value="Child Services">Child Services</option>
                  <option value="Counselling">Counselling</option>
                  <option value="Dental Hygiene">Dental Hygiene</option>
                  <option value="Depression">Depression</option>
                  <option value="Diabetes">Diabetes</option>
                  <option value="Hypertension">Hypertension</option>
                  <option value="Medical Specialists">Medical Specialists</option>
                  <option value="Medical Service">Medical Service</option>
                  <option value="Medication Administration">Medication Administration</option>
                  <option value="Oral Hygiene">Oral Hygiene</option>
                  <option value="Prescriptions">Prescriptions</option>
                  <option value="Referral">Referral</option>
                  <option value="Respiratory">Respiratory</option>
                  <option value="Secure Extended Care">Secure Extended Care</option>
                  <option value="Gastroenterology">Gastroenterology</option>
                  <option value="Gynaecology">Gynaecology</option>
                  <option value="Obstetrics">Obstetrics</option>
                  <option value="Women's Health">Women's Health</option>
                  <option value="Men's Health">Men's Health</option>
                  <option value="Asthma">Asthma</option>
              </select>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="encounter_participant_type" class="fw-semibold fs-6 my-2">Participant Type:</label>
              <select  class="form-control select2 custom-select" id="encounter_participant_type" data-enc-field="participant_type"></select>
          </div>
      </div>


      <div class="col-md-3">
          <div class="form-group">
              <label for="encounter_priority" class="fw-semibold fs-6 my-2">Priority:</label>
              <select  class="form-control select2 custom-select" id="encounter_priority" data-enc-field="priority"></select>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="encounter_class" class="fw-semibold fs-6 my-2">Class:</label>
              <select  class="form-control select2 custom-select" id="encounter_class" data-enc-field="class"></select>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="encounter_enc_type" class="fw-semibold fs-6 my-2">Type:</label>
              <input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-enc-field="enc_type" id="encounter_enc_type">
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group" >
              <label for="encounter_enc_start" class="required  fs-6 my-2">Date:</label>
              <div class="input-group"  data-td-target-input="nearest" data-td-target-toggle="nearest" >
                  <input id="encounter_enc_start" type="text" class="form-control" data-enc-field="enc_start" />
                  <span class="input-group-text" data-td-target="#kt_td_picker_basic" data-td-toggle="datetimepicker">
                      <i class="ki-duotone ki-calendar fs-2"><span class="path1"></span><span class="path2"></span></i>
                  </span>
              </div>
          </div>
      </div>
      <div class="col-md-2">
          <div class="form-group">
              <label for="encounter_total_mins" class="required fw-semibold fs-6 my-2">Total Mins:</label>
              <input type="number" class="form-control form-control-solid mb-3 mb-lg-0 " data-enc-field="total_mins" id="encounter_total_mins">
          </div>
      </div>
      
      <!-- <div class="col-md-3">
          <div class="form-group">
              <label for="encounter_enc_end" class="fw-semibold fs-6 my-2">End Time:</label>
              <input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-enc-field="enc_end" id="encounter_enc_end">
          </div>
      </div> -->
      
      <!-- <div class="col-md-3">
          <div class="form-group">
              <label for="encounter_subject_status" class="fw-semibold fs-6 my-2">Subject Status:</label>
              <select  class="form-control select2 custom-select" id="encounter_subject_status" data-enc-field="subject_status"></select>
          </div>
      </div> -->
      
      <div class="col-md-12">
          <div class="form-group">
              <label for="encounter_notes" class="fw-semibold fs-6 my-2">Notes:</label>
              <textarea rows="3" class="form-control" id="encounter_notes" data-enc-field="notes"></textarea>
      </div>
      
      <div class="col-md-12">
          <div class="form-group">
              <label for="encounter_action_taken" class="fw-semibold fs-6 my-2">Action Taken:</label>
              <textarea rows="3" class="form-control" id="encounter_action_taken" data-enc-field="action_taken"></textarea>
          </div>
      </div>
    </div>
  </div>
  <div class="modal-footer mt-8">
    <label class="form-check form-check-custom form-check-sm form-check-solid mb-3 me-20">
        <div class="d-flex justify-content-center align-items-center ">
            <input type="checkbox" class="form-control form-check-input h-30px mt-0" id="encounter_completed" data-enc-field="completed" />
            <label for="encounter_completed" class=" ps-2 fw-semibold fs-6 ">Completed</label>
        </div>
      </label>
    <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
    <button type="button" class="btn btn-primary" id="encounter_update_btn"><i class="fa fa-save">&nbsp;</i> Save</button>
  </div>
