
<input type="hidden" id ="hedisdate" />
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card ">
            <div class="card-header ribbon ribbon-start ribbon-clip">
                <div class="ribbon-label">
                    <div class="fs-3 p-4">Select Program to Review</div>
                    <span class="ribbon-inner bg-primary"></span>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="btn-list inshedislist">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="btn-list dailylist">
                            <a href="../hedis/daily" target="_blank" class="btn btn-radius btn-success">Daily List</a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="btn-list ncompliantlist">
                            <a href="../hedis/noncompliant" target="_blank" class="btn btn-radius btn-info">Non Utilizers List</a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="btn-list">
                            <a href="../hedis/conciergereport" class="btn btn-radius btn-primary">Hedis Concierge Report</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div><!-- ROW-5 END -->
<div class="row mt-10">
    <div class="col-12 col-sm-12">
        <div class="card ">
            <div class="card-header ribbon ribbon-start ribbon-clip">
                <div class="ribbon-label">
                    <div class="fs-3 p-4">Hedis Population Health</div>
                    <span class="ribbon-inner bg-success"></span>
                </div>
            </div>
            <div class="card-body">
                <div class="btn-list inshedispoplutaion">
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div><!-- ROW-5 END -->

