<%- include("import_header"); %>
<tbody class="table-body">
  <tr>
    <td width="10%"><b>Lvl</b></td>
    <td width="10%" style="white-space: nowrap"><b>Code</b></td>
    <td width="30%"><b>Display</b></td>
    <td width="30%"><b>Definition</b></td>
    <td width="10%"><b>internalId</b></td>
    <td width="10%"><b>status</b></td>
  </tr>
  <tr>
    <td>1</td>
    <td style="white-space: nowrap">
      2135-2<a name="v3-Ethnicity-2135-2"> </a>
    </td>
    <td>Hispanic or Latino</td>
    <td></td>
    <td>15837</td>
    <td>active</td>
  </tr>
  <tr>
    <td>2</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;2137-8<a name="v3-Ethnicity-2137-8"> </a>
    </td>
    <td>Spaniard</td>
    <td></td>
    <td>15838</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2138-6<a name="v3-Ethnicity-2138-6"> </a>
    </td>
    <td>Andalusian</td>
    <td></td>
    <td>15839</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2139-4<a name="v3-Ethnicity-2139-4"> </a>
    </td>
    <td>Asturian</td>
    <td></td>
    <td>15840</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2140-2<a name="v3-Ethnicity-2140-2"> </a>
    </td>
    <td>Castillian</td>
    <td></td>
    <td>15841</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2141-0<a name="v3-Ethnicity-2141-0"> </a>
    </td>
    <td>Catalonian</td>
    <td></td>
    <td>15842</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2142-8<a name="v3-Ethnicity-2142-8"> </a>
    </td>
    <td>Belearic Islander</td>
    <td></td>
    <td>15843</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2143-6<a name="v3-Ethnicity-2143-6"> </a>
    </td>
    <td>Gallego</td>
    <td></td>
    <td>15844</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2144-4<a name="v3-Ethnicity-2144-4"> </a>
    </td>
    <td>Valencian</td>
    <td></td>
    <td>15845</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2145-1<a name="v3-Ethnicity-2145-1"> </a>
    </td>
    <td>Canarian</td>
    <td></td>
    <td>15846</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2146-9<a name="v3-Ethnicity-2146-9"> </a>
    </td>
    <td>Spanish Basque</td>
    <td></td>
    <td>15847</td>
    <td>active</td>
  </tr>
  <tr>
    <td>2</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;2148-5<a name="v3-Ethnicity-2148-5"> </a>
    </td>
    <td>Mexican</td>
    <td></td>
    <td>15848</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2149-3<a name="v3-Ethnicity-2149-3"> </a>
    </td>
    <td>Mexican American</td>
    <td></td>
    <td>15849</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2150-1<a name="v3-Ethnicity-2150-1"> </a>
    </td>
    <td>Mexicano</td>
    <td></td>
    <td>15850</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2151-9<a name="v3-Ethnicity-2151-9"> </a>
    </td>
    <td>Chicano</td>
    <td></td>
    <td>15851</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2152-7<a name="v3-Ethnicity-2152-7"> </a>
    </td>
    <td>La Raza</td>
    <td></td>
    <td>15852</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2153-5<a name="v3-Ethnicity-2153-5"> </a>
    </td>
    <td>Mexican American Indian</td>
    <td></td>
    <td>15853</td>
    <td>active</td>
  </tr>
  <tr>
    <td>2</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;2155-0<a name="v3-Ethnicity-2155-0"> </a>
    </td>
    <td>Central American</td>
    <td></td>
    <td>15854</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2156-8<a name="v3-Ethnicity-2156-8"> </a>
    </td>
    <td>Costa Rican</td>
    <td></td>
    <td>15855</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2157-6<a name="v3-Ethnicity-2157-6"> </a>
    </td>
    <td>Guatemalan</td>
    <td></td>
    <td>15856</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2158-4<a name="v3-Ethnicity-2158-4"> </a>
    </td>
    <td>Honduran</td>
    <td></td>
    <td>15857</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2159-2<a name="v3-Ethnicity-2159-2"> </a>
    </td>
    <td>Nicaraguan</td>
    <td></td>
    <td>15858</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2160-0<a name="v3-Ethnicity-2160-0"> </a>
    </td>
    <td>Panamanian</td>
    <td></td>
    <td>15859</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2161-8<a name="v3-Ethnicity-2161-8"> </a>
    </td>
    <td>Salvadoran</td>
    <td></td>
    <td>15860</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2162-6<a name="v3-Ethnicity-2162-6"> </a>
    </td>
    <td>Central American Indian</td>
    <td></td>
    <td>15861</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2163-4<a name="v3-Ethnicity-2163-4"> </a>
    </td>
    <td>Canal Zone</td>
    <td></td>
    <td>15862</td>
    <td>active</td>
  </tr>
  <tr>
    <td>2</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;2165-9<a name="v3-Ethnicity-2165-9"> </a>
    </td>
    <td>South American</td>
    <td></td>
    <td>15863</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2166-7<a name="v3-Ethnicity-2166-7"> </a>
    </td>
    <td>Argentinean</td>
    <td></td>
    <td>15864</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2167-5<a name="v3-Ethnicity-2167-5"> </a>
    </td>
    <td>Bolivian</td>
    <td></td>
    <td>15865</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2168-3<a name="v3-Ethnicity-2168-3"> </a>
    </td>
    <td>Chilean</td>
    <td></td>
    <td>15866</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2169-1<a name="v3-Ethnicity-2169-1"> </a>
    </td>
    <td>Colombian</td>
    <td></td>
    <td>15867</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2170-9<a name="v3-Ethnicity-2170-9"> </a>
    </td>
    <td>Ecuadorian</td>
    <td></td>
    <td>15868</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2171-7<a name="v3-Ethnicity-2171-7"> </a>
    </td>
    <td>Paraguayan</td>
    <td></td>
    <td>15869</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2172-5<a name="v3-Ethnicity-2172-5"> </a>
    </td>
    <td>Peruvian</td>
    <td></td>
    <td>15870</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2173-3<a name="v3-Ethnicity-2173-3"> </a>
    </td>
    <td>Uruguayan</td>
    <td></td>
    <td>15871</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2174-1<a name="v3-Ethnicity-2174-1"> </a>
    </td>
    <td>Venezuelan</td>
    <td></td>
    <td>15872</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2175-8<a name="v3-Ethnicity-2175-8"> </a>
    </td>
    <td>South American Indian</td>
    <td></td>
    <td>15873</td>
    <td>active</td>
  </tr>
  <tr>
    <td>3</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;&nbsp;&nbsp;2176-6<a name="v3-Ethnicity-2176-6"> </a>
    </td>
    <td>Criollo</td>
    <td></td>
    <td>15874</td>
    <td>active</td>
  </tr>
  <tr>
    <td>2</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;2178-2<a name="v3-Ethnicity-2178-2"> </a>
    </td>
    <td>Latin American</td>
    <td></td>
    <td>15875</td>
    <td>active</td>
  </tr>
  <tr>
    <td>2</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;2180-8<a name="v3-Ethnicity-2180-8"> </a>
    </td>
    <td>Puerto Rican</td>
    <td></td>
    <td>15876</td>
    <td>active</td>
  </tr>
  <tr>
    <td>2</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;2182-4<a name="v3-Ethnicity-2182-4"> </a>
    </td>
    <td>Cuban</td>
    <td></td>
    <td>15877</td>
    <td>active</td>
  </tr>
  <tr>
    <td>2</td>
    <td style="white-space: nowrap">
      &nbsp;&nbsp;2184-0<a name="v3-Ethnicity-2184-0"> </a>
    </td>
    <td>Dominican</td>
    <td></td>
    <td>15878</td>
    <td>active</td>
  </tr>
  <tr>
    <td>1</td>
    <td style="white-space: nowrap">
      2186-5<a name="v3-Ethnicity-2186-5"> </a>
    </td>
    <td>Not Hispanic or Latino</td>
    <td>
      Note that this term remains in the table for completeness, even though
      within HL7, the notion of "not otherwise coded" term is deprecated.
    </td>
    <td>15879</td>
    <td>active</td>
  </tr>
</tbody>
<%- include("import_footer"); %>
