<%- include("import_header"); %>
<tbody class="table-body">
  <tr>
    <td style="white-space:nowrap"><b>Code</b></td>
    <td><b>System</b></td>
    <td><b>Display</b></td>
    <td><b>Definition</b></td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110120">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110120">110120 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Application Start</td>
    <td>
      <div>
        <p>Audit event: Application Entity has started.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110121">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110121">110121 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Application Stop</td>
    <td>
      <div>
        <p>Audit event: Application Entity has stopped.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110122">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110122">110122 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Login</td>
    <td>
      <div>
        <p>Audit event: User login has been attempted.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110123">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110123">110123 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Logout</td>
    <td>
      <div>
        <p>Audit event: User logout has been attempted.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110124">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110124">110124 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Attach</td>
    <td>
      <div>
        <p>Audit event: Node has been attached.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110125">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110125">110125 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Detach</td>
    <td>
      <div>
        <p>Audit event: Node has been detached.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110126">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110126">110126 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Node Authentication</td>
    <td>
      <div>
        <p>Audit event: Node Authentication has been attempted.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110127">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110127">110127 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Emergency Override Started</td>
    <td>
      <div>
        <p>Audit event: Emergency Override has started.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110128">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110128">110128 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Network Configuration</td>
    <td>
      <div>
        <p>Audit event: Network configuration has been changed.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110129">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110129">110129 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Security Configuration</td>
    <td>
      <div>
        <p>Audit event: Security configuration has been changed.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110130">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110130">110130 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Hardware Configuration</td>
    <td>
      <div>
        <p>Audit event: Hardware configuration has been changed.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110131">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110131">110131 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Software Configuration</td>
    <td>
      <div>
        <p>Audit event: Software configuration has been changed.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110132">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110132">110132 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Use of Restricted Function</td>
    <td>
      <div>
        <p>Audit event: A use of a restricted function has been attempted.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110133">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110133">110133 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Audit Recording Stopped</td>
    <td>
      <div>
        <p>Audit event: Audit recording has been stopped.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110134">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110134">110134 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Audit Recording Started</td>
    <td>
      <div>
        <p>Audit event: Audit recording has been started.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110135">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110135">110135 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Object Security Attributes Changed</td>
    <td>
      <div>
        <p>Audit event: Security attributes of an object have been changed.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110136">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110136">110136 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Security Roles Changed</td>
    <td>
      <div>
        <p>Audit event: Security roles have been changed.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110137">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110137">110137 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>User security Attributes Changed</td>
    <td>
      <div>
        <p>Audit event: Security attributes of a user have been changed.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110138">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110138">110138 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Emergency Override Stopped</td>
    <td>
      <div>
        <p>Audit event: Emergency Override has Stopped.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110139">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110139">110139 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Remote Service Operation Started</td>
    <td>
      <div>
        <p>Audit event: Remote Service Operation has Begun.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110140">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110140">110140 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Remote Service Operation Stopped</td>
    <td>
      <div>
        <p>Audit event: Remote Service Operation has Stopped.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110141">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110141">110141 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Local Service Operation Started</td>
    <td>
      <div>
        <p>Audit event: Local Service Operation has Begun.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110142">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110142">110142 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Local Service Operation Stopped</td>
    <td>
      <div>
        <p>Audit event: Local Service Operation Stopped.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110143">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110143">110143 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Authentication Decision</td>
    <td>
      <div>
        <p>Audit event: An authentication decision has been made.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110144">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110144">110144 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Authorization Decision</td>
    <td>
      <div>
        <p>Audit event: An authorization decision has been made.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110145">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110145">110145 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Session start</td>
    <td>
      <div>
        <p>Audit event: A persistent session has started.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110146">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110146">110146 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Session stop</td>
    <td>
      <div>
        <p>Audit event: A persistent session has stopped.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110147">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110147">110147 <i class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Access Control Decision</td>
    <td>
      <div>
        <p>Audit event: An access control decision has been made.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-read">
      </a>&nbsp;&nbsp;<a href="codesystem-restful-interaction.html#restful-interaction-read">read</a></td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>read</td>
    <td>
      <div>
        <p>Read the current state of the resource.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-vread">
      </a>&nbsp;&nbsp;<a href="codesystem-restful-interaction.html#restful-interaction-vread">vread</a>
    </td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>vread</td>
    <td>
      <div>
        <p>Read the state of a specific version of the resource.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-update">
      </a>&nbsp;&nbsp;<a href="codesystem-restful-interaction.html#restful-interaction-update">update</a>
    </td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>update</td>
    <td>
      <div>
        <p>Update an existing resource by its id (or create it if it is new).</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-patch">
      </a>&nbsp;&nbsp;<a href="codesystem-restful-interaction.html#restful-interaction-patch">patch</a>
    </td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>patch</td>
    <td>
      <div>
        <p>Update an existing resource by posting a set of changes to it.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-delete">
      </a>&nbsp;&nbsp;<a href="codesystem-restful-interaction.html#restful-interaction-delete">delete</a>
    </td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>delete</td>
    <td>
      <div>
        <p>Delete a resource.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-history">
      </a>&nbsp;&nbsp;<a
        href="codesystem-restful-interaction.html#restful-interaction-history">history</a></td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>history</td>
    <td>
      <div>
        <p>Retrieve the change history for a particular resource, type of resource, or the entire system.
        </p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-history-instance">
      </a>&nbsp;&nbsp;<a
        href="codesystem-restful-interaction.html#restful-interaction-history-instance">history-instance</a>
    </td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>history-instance</td>
    <td>
      <div>
        <p>Retrieve the change history for a particular resource.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-history-type">
      </a>&nbsp;&nbsp;<a
        href="codesystem-restful-interaction.html#restful-interaction-history-type">history-type</a></td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>history-type</td>
    <td>
      <div>
        <p>Retrieve the change history for all resources of a particular type.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-history-system">
      </a>&nbsp;&nbsp;<a
        href="codesystem-restful-interaction.html#restful-interaction-history-system">history-system</a>
    </td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>history-system</td>
    <td>
      <div>
        <p>Retrieve the change history for all resources on a system.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-create">
      </a>&nbsp;&nbsp;<a href="codesystem-restful-interaction.html#restful-interaction-create">create</a>
    </td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>create</td>
    <td>
      <div>
        <p>Create a new resource with a server assigned id.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-search">
      </a>&nbsp;&nbsp;<a href="codesystem-restful-interaction.html#restful-interaction-search">search</a>
    </td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>search</td>
    <td>
      <div>
        <p>Search a resource type or all resources based on some filter criteria.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-search-type">
      </a>&nbsp;&nbsp;<a
        href="codesystem-restful-interaction.html#restful-interaction-search-type">search-type</a></td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>search-type</td>
    <td>
      <div>
        <p>Search all resources of the specified type based on some filter criteria.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-search-system">
      </a>&nbsp;&nbsp;<a
        href="codesystem-restful-interaction.html#restful-interaction-search-system">search-system</a>
    </td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>search-system</td>
    <td>
      <div>
        <p>Search all resources based on some filter criteria.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-search-compartment">
      </a>&nbsp;&nbsp;<a
        href="codesystem-restful-interaction.html#restful-interaction-search-compartment">search-compartment</a>
    </td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>search-compartment</td>
    <td>
      <div>
        <p>Search resources in a compartment based on some filter criteria.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-capabilities">
      </a>&nbsp;&nbsp;<a
        href="codesystem-restful-interaction.html#restful-interaction-capabilities">capabilities</a></td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>capabilities</td>
    <td>
      <div>
        <p>Get a Capability Statement for the system.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-transaction">
      </a>&nbsp;&nbsp;<a
        href="codesystem-restful-interaction.html#restful-interaction-transaction">transaction</a></td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>transaction</td>
    <td>
      <div>
        <p>Update, create or delete a set of resources as a single transaction.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-batch">
      </a>&nbsp;&nbsp;<a href="codesystem-restful-interaction.html#restful-interaction-batch">batch</a>
    </td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>batch</td>
    <td>
      <div>
        <p>perform a set of a separate interactions in a single http operation</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---hl7.org-fhir-restful-interaction-operation">
      </a>&nbsp;&nbsp;<a
        href="codesystem-restful-interaction.html#restful-interaction-operation">operation</a></td>
    <td>http://hl7.org/fhir/restful-interaction</td>
    <td>operation</td>
    <td>
      <div>
        <p>Perform an operation as defined by an OperationDefinition.</p>
      </div>
    </td>
  </tr>
</tbody>
<%- include("footer"); %>