<%- include("import_header"); %>
<tbody class="table-body">
  <tr>
    <td style="white-space:nowrap"><b>Code</b></td>
    <td><b>System</b></td>
    <td><b>Display</b></td>
    <td><b>Definition</b></td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110100">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110100">110100 <i
          class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Application Activity</td>
    <td>
      <div>
        <p>Audit event: Application Activity has taken place.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110101">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110101">110101 <i
          class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Audit Log Used</td>
    <td>
      <div>
        <p>Audit event: Audit Log has been used.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110102">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110102">110102 <i
          class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Begin Transferring DICOM Instances</td>
    <td>
      <div>
        <p>Audit event: Storage of DICOM Instances has begun.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110103">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110103">110103 <i
          class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>DICOM Instances Accessed</td>
    <td>
      <div>
        <p>Audit event: DICOM Instances have been created, read, updated, or deleted -audit event.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110104">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110104">110104 <i
          class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>DICOM Instances Transferred</td>
    <td>
      <div>
        <p>Audit event: Storage of DICOM Instances has been completed.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110105">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110105">110105 <i
          class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>DICOM Study Deleted</td>
    <td>
      <div>
        <p>Audit event: Entire Study has been deleted.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110106">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110106">110106 <i
          class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Export</td>
    <td>
      <div>
        <p>Audit event: Data has been exported out of the system.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110107">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110107">110107 <i
          class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Import</td>
    <td>
      <div>
        <p>Audit event: Data has been imported into the system.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110108">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110108">110108 <i
          class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Network Entry</td>
    <td>
      <div>
        <p>Audit event: System has joined or left network.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110109">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110109">110109 <i
          class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Order Record</td>
    <td>
      <div>
        <p>Audit event: Order has been created, read, updated or deleted.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110110">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110110">110110 <i
          class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Patient Record</td>
    <td>
      <div>
        <p>Audit event: Patient Record has been created, read, updated, or deleted.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110111">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110111">110111 <i
          class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Procedure Record</td>
    <td>
      <div>
        <p>Audit event: Procedure Record has been created, read, updated, or deleted.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110112">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110112">110112 <i
          class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Query</td>
    <td>
      <div>
        <p>Audit event: Query has been made.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110113">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110113">110113 <i
          class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>Security Alert</td>
    <td>
      <div>
        <p>Audit event: Security Alert has been raised.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---dicom.nema.org-resources-ontology-DCM-110114">
      </a>&nbsp;&nbsp;<a href="http://dicom.nema.org/resources/ontology/DCM.html#DCM-110114">110114 <i
          class="side-menu__icon ti-link"></i></a></td>
    <td>http://dicom.nema.org/resources/ontology/DCM</td>
    <td>User Authentication</td>
    <td>
      <div>
        <p>Audit event: User Authentication has been attempted.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a name="http---terminology.hl7.org-CodeSystem-audit-event-type-rest">
      </a>&nbsp;&nbsp;<a
        href="http://terminology.hl7.org/5.1.0/CodeSystem-audit-event-type.html#audit-event-type-rest">rest
        <i class="side-menu__icon ti-link"></i></td>
    <td>http://terminology.hl7.org/CodeSystem/audit-event-type</td>
    <td>RESTful Operation</td>
    <td>
      <div>
        <p>Audit Event: Execution of a RESTful operation as defined by FHIR.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a
        name="http---terminology.hl7.org-CodeSystem-audit-event-type-hl7-v2"> </a>&nbsp;&nbsp;<a
        href="http://terminology.hl7.org/5.1.0/CodeSystem-audit-event-type.html#audit-event-type-hl7-v2">hl7-v2
        <i class="side-menu__icon ti-link"></i></td>
    <td>http://terminology.hl7.org/CodeSystem/audit-event-type</td>
    <td>HL7 v2 Operation</td>
    <td>
      <div>
        <p>Audit Event: Execution of an HL7 v2 operation.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a
        name="http---terminology.hl7.org-CodeSystem-audit-event-type-hl7-v3"> </a>&nbsp;&nbsp;<a
        href="http://terminology.hl7.org/5.1.0/CodeSystem-audit-event-type.html#audit-event-type-hl7-v3">hl7-v3
        <i class="side-menu__icon ti-link"></i></td>
    <td>http://terminology.hl7.org/CodeSystem/audit-event-type</td>
    <td>HL7 v3 Operation</td>
    <td>
      <div>
        <p>Audit Event: Execution of an HL7 v3 operation as defined by FHIR.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a
        name="http---terminology.hl7.org-CodeSystem-audit-event-type-document"> </a>&nbsp;&nbsp;<a
        href="http://terminology.hl7.org/5.1.0/CodeSystem-audit-event-type.html#audit-event-type-document">document
        <i class="side-menu__icon ti-link"></i></td>
    <td>http://terminology.hl7.org/CodeSystem/audit-event-type</td>
    <td>A Document Operation</td>
    <td>
      <div>
        <p>Audit Event: Execution of an operation on a Document (e.g. XDS, CDA, etc).</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="white-space:nowrap"><a
        name="http---terminology.hl7.org-CodeSystem-audit-event-type-object"> </a>&nbsp;&nbsp;<a
        href="http://terminology.hl7.org/5.1.0/CodeSystem-audit-event-type.html#audit-event-type-object">object
        <i class="side-menu__icon ti-link"></i></td>
    <td>http://terminology.hl7.org/CodeSystem/audit-event-type</td>
    <td>An Operation on other Objects</td>
    <td>
      <div>
        <p>Audit Event: Execution of an operation on an Object. For use when a more specific event type is
          not available.</p>
      </div>
    </td>
  </tr>
</tbody>
<%- include("import_footer"); %>