<style>
  .entity-type-table tr {
    border-bottom: solid 1px #eeeeee;
  }
</style>

<div class="row row-cards">
  <div class="col-lg-12 col-xl-12">
    <div class="card">
      <div class="card-header">
        <div class="mt-10 mx-6"><a href="/database"><i class="fa fa-home"></i> Database/</a></div>
        <div class="card-toolbar">
        <a class="btn btn-primary import_btn"><i class="fa fa-upload">&nbsp;</i>Import Database</a>
        </div>
      </div>
      <div class="e-table pt-1 px-5 pb-5">
        <input type="hidden" id="chosen_user" />
        <div class="table-responsive table-lg pt-2">
          <div style="width: 100%; height: 500px">
            <table class="codes import-table">
            
