<!-- PAGE -->
<div class="page">
	<!-- PAGE-CONTENT OPEN -->
	 <div class="page-content error-page">
		 <div class="container text-center">
			 <div class="error-template">
				<h1 class="display-3 text-white mb-2"><i class="fa fa-frown-o" style="font-size:80px"></i></h1>
				<h1 class="display-3 text-white mb-2"><b>Payment Error</b></h1>
				<h4 class="error-details text-white mt-5">
					<b><a href="../contact" style="text-decoration: underline;">Contact support</a></b>
				</h4>
			 </div>
		 </div>
	 </div>
	 <!-- PAGE-CONTENT OPEN CLOSED -->
 </div>
 <!-- End PAGE -->