<style>
    .tag-blue{
        margin-right: 5px;
        margin-top: 5px;
    }
    .blue-color{
        color: #467fcf;
    }
    .ins-title{
        color: #467fcf;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
    }
</style>
<div class="row ml-2 mr-2 mt-2">
    <div class="col-md-12">
        <h2 class="clinic-title text-primary"></h2>
	    <h4 class="text-primary clinic-addr"></h4>
	    <h5 class="text-primary paid-date"><span id="sdate"><%= sdate %></span> - <span id="edate"><%= edate %></span></h5>
	    <h5 class="text-primary paid-desc"></h5>
    </div>
</div>
<div class="row ml-2 mr-2 mt-2">
    <div class="col-md-10">
        <h3 class="text-primary">Individual CPT Payment Analysis by Insurance</h3>
    </div>
    <div class="col-md-2 text-right no-print">
        <button class="btn btn-info printbtn"><i class="fa fa-print"></i></button>
    </div>
    <div class="col-md-12">
        <div class="table-responsive" id="main_area"></div>
    </div>
</div>