<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title mb-0">Deductible Report</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Deductible Report - Date Range&nbsp;&nbsp; <span id="sdate"><%= sdate %></span> To <span id="edate"><%= edate %></span></h4>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover mb-0 text-nowrap pcpareatable">
                                <thead>
                                    <th>PCP</th>
                                    <th>Expected Deductible</th>
                                    <th>Paid</th>
                                    <th>Collected %</th>
                                    <th>Written Off</th>
                                    <th>Written Off %</th>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                            <table class="table table-bordered table-hover mb-0 text-nowrap insareatable">
                                <thead>
                                    <th>Insurance</th>
                                    <th>Expected Deductible</th>
                                    <th>Paid</th>
                                    <th>Collected %</th>
                                    <th>Written Off</th>
                                    <th>Written Off %</th>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div><!-- ROW-5 END -->