<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title mb-0">PT Responsibility</h3>
            </div>
            <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-11 col-sm-12 col-xs-12">
                            <label class="form-label">Date Range</label>
                            <input type="text" class="date_range" value="" name="range" />
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <button class="btn btn-outline-primary viewdetailbtn">View Detail</button>
                            <button class="btn btn-outline-info viewdeductiblereportbtn">Deductible Report</button>
                            <button class="btn btn-outline-success viewcopayreportbtn">Copay Report</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div><!-- ROW-5 END -->