<!doctype html>
<html lang="en" dir="ltr">
  <head>
	<meta charset="utf-8" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="ConectorHealth" />
	<meta property="og:site_name" content="ConectorHealth" />
	<title>ConectorHealth</title>
	<link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
	<link href="/assets/plugins/custom/leaflet/leaflet.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/custom.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/jexcel/jexcel.css" rel="stylesheet">
	<link href="/assets/plugins/jexcel/jsuites.css" rel="stylesheet">
	</head>

	<body class="app sidebar-mini">
		<div id="loader">
			<div class="position-center-center">
				<div class="cssload-thecube">
					<div class="cssload-cube cssload-c1"></div>
					<div class="cssload-cube cssload-c2"></div>
					<div class="cssload-cube cssload-c4"></div>
					<div class="cssload-cube cssload-c3"></div>
				</div>
			</div>
		</div>
		<div class="page">
			<div class="page-main">
				<!--app-content open-->
				<div class="app-content">
					<div class="side-app">
						<%- include(pageKey); %>
					</div>
				</div>
			</div>
		</div>
		<script>var hostUrl = "assets/";</script>
		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
		<script src="/assets/plugins/global/plugins.bundle.js"></script>
		<script src="/assets/js/scripts.bundle.js"></script>

		<script src="/assets/plugins/custom/leaflet/leaflet.bundle.js"></script>
		<script src="/assets/plugins/custom/datatables/datatables.bundle.js"></script>

		<script src="/assets/plugins/jexcel/jexcel.js"></script>
		<script src="/assets/plugins/jexcel/jsuites.js"></script>

		<script src="/assets/js/api.js"></script>
		<script src="/assets/js/twilio.min.js"></script>
		<script src="/assets/js/custom/app.js"></script>
		<script src="/assets/js/custom/pagination.js"></script>
		<script src="/assets/js/pages/<%- pageKey -%>.js"></script>
		
		
	</body>
</html>
