<div class="aside-logo flex-column-auto px-10 pt-9 pb-5" id="kt_aside_logo">
  <!--begin::Logo-->
  <a href="index.html">
    <img
      alt="Logo" src="/assets/images/logo.jpg" class="max-h-50px logo-default theme-light-show" width="100"
    />
  </a>
  <!--end::Logo-->
</div>
<div class="aside-menu flex-column-fluid ps-3 pe-1">
  <!--begin::Aside Menu-->
  <!--begin::Menu-->
  <div
    class="menu menu-sub-indention menu-column menu-rounded menu-title-gray-600 menu-icon-gray-500 menu-active-bg menu-state-primary menu-arrow-gray-500 fw-semibold fs-6 my-5 mt-lg-2 mb-lg-0"
    id="kt_aside_menu"
    data-kt-menu="true"
  >
    <div
      class="hover-scroll-y mx-4"
      id="kt_aside_menu_wrapper"
      data-kt-scroll="true"
      data-kt-scroll-activate="{default: false, lg: true}"
      data-kt-scroll-height="auto"
      data-kt-scroll-wrappers="#kt_aside_menu"
      data-kt-scroll-offset="20px"
      data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer"
      style="height: 247px"
    >
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
        <span class="menu-link " data-permit="">
          <span class="menu-icon">
            <i class="ki-duotone ki-element-11 fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
              <span class="path4"></span>
            </i>
          </span>
          <span class="menu-title">Dashboards</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion">
          <div class="menu-item">
            <a class="menu-link " href="../pages/dash" data-permit="">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Hedis</span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="#"  data-permit="FFS">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">FFS Payments</span>
            </a>
          </div>
        </div>
      </div>
      <div class="menu-item pt-5">
        <div class="menu-content">
          <span class="fw-bold text-muted text-uppercase fs-7">Apps</span>
        </div>
      </div>
      <div class="menu-item">
        <a class="menu-link pq-menu d-none" href="#"  data-permit="REPORTING"  >
          <span class="menu-icon">
            <i class="ki-duotone ki-copy fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </span>
          <span class="menu-title">Clinic Report</span>
        </a>
      </div>
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
        <span class="menu-link pq-menu d-none" data-permit="NCQA">
          <span class="menu-icon">
            <i class="ki-duotone ki-gift fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
              <span class="path4"></span>
            </i>
          </span>
          <span class="menu-title">NCQA PCMH</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion">
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="#"  data-permit="NCQA">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Problem List</span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="#"  data-permit="NCQA">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Diversity</span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="#"  data-permit="NCQA">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Specialists Identification</span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="#"  data-permit="NCQA">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Medication</span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="#"  data-permit="NCQA">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Patient Panel Analysis</span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="#"  data-permit="NCQA">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Depression</span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="#"  data-permit="NCQA">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Readmissions and ER Visits</span>
            </a>
          </div>
        </div>
      </div>
      <div class="menu-item">
        <a class="menu-link pq-menu d-none" href="../hedis" data-permit="HEDIS_INFO">
          <span class="menu-icon">
            <i class="ki-duotone ki-rocket fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </span>
          <span class="menu-title">Hedis</span>
        </a>
      </div>
      <div class="menu-item">
        <a class="menu-link pq-menu d-none" href="../hedis/appointment" data-permit="REFERRAL_APPOINTMENT">
          <span class="menu-icon">
            <i class="ki-duotone ki-time fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </span>
          <span class="menu-title">Appointment</span>
        </a>
      </div>
      <div class="menu-item">
        <a class="menu-link pq-menu d-none" href="../hedis/referrals" target="_blank" data-permit="REFERRAL_TRACKING">
          <span class="menu-icon">
            <i class="ki-duotone ki-parcel-tracking fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
            </i>
          </span>
          <span class="menu-title">Referral Tracking</span>
        </a>
      </div>
      <div class="menu-item">
        <a class="menu-link pq-menu d-none" href="../pages/invoice" data-permit="INVOICE">
          <span class="menu-icon">
            <i class="ki-duotone ki-sms fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </span>
          <span class="menu-title">Invoice</span>
        </a>
      </div>
      <div class="menu-item">
        <a class="menu-link pq-menu d-none" href="../patients" target="_blank" data-permit="PATIENT_INFO">
          <span class="menu-icon">
            <i class="ki-duotone ki-user fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </span>
          <span class="menu-title">Patients</span>
        </a>
      </div>
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion" >
        <span class="menu-link pq-menu d-none" data-permit="PAYMENT">
          <span class="menu-icon">
            <i class="ki-duotone ki-dollar fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
              <span class="path4"></span>
            </i>
          </span>
          <span class="menu-title">Payment Analysis</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion">
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="../pages/paid" data-permit="PAYMENT">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">FFS</span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="../pages/ptrespon" data-permit="PAYMENT">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">PT Responsibility</span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="../pages/claims" data-permit="PAYMENT">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Claims</span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="../pages/multibill" data-permit="PAYMENT">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Multibill</span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="../pages/nonpaid" data-permit="PAYMENT">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Non Paid</span>
            </a>
          </div>
        </div>
      </div>
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
        <span class="menu-link pq-menu d-none" data-permit="INSURANCE">
          <span class="menu-icon">
            <i class="ki-duotone ki-lovely fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
              <span class="path4"></span>
            </i>
          </span>
          <span class="menu-title">Insurances</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion">
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="../insurance" data-permit="INSURANCE">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Insurance List</span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="../pages/inslob" data-permit="INSURANCE">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Insurance LOB</span>
            </a>
          </div>
        </div>
      </div>
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
        <span class="menu-link pq-menu d-none" data-permit="DATA_LOADERS">
          <span class="menu-icon">
            <i class="ki-duotone ki-arrows-circle fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
              <span class="path4"></span>
            </i>
          </span>
          <span class="menu-title">Data Management</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion">
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="../loaders/clinicdataloader" data-permit="DATA_MANAGEMENT">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Data Management</span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="../loaders/ptloader" data-permit="LOADERS_EMRPT_LOADER">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Patient Loader</span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="../loaders/hedisloader" data-permit="LOADERS_HEDIS_LOADER">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Hedis Loader</span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="#"  data-permit="LOADERS_REFERRAL_LOADER">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Referral Loader</span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link pq-menu d-none" href="../loaders/ffsloader" data-permit="LOADERS_PAYMENT_LOADER">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Payment Loader</span>
            </a>
          </div>
        </div>
      </div>
      <div class="menu-item pt-5">
        <div class="menu-content pq-menu d-none" data-permit="USER_MANAGE">
          <span class="fw-bold text-muted text-uppercase fs-7">Users & Clinics</span>
        </div>
      </div>

      <div class="menu-item">
        <a class="menu-link pq-menu d-none" href="../settings/users" data-permit="USER_MANAGE">
          <span class="menu-icon">
            <i class="ki-duotone ki-user-edit fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
            </i>
          </span>
          <span class="menu-title">Users</span>
        </a>
      </div>
      <div class="menu-item">
        <a class="menu-link pq-menu d-none" href="../settings/specialist" data-permit="USER_MANAGE">
          <span class="menu-icon">
            <i class="ki-duotone ki-user-tick fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
            </i>
          </span>
          <span class="menu-title">Specialists</span>
        </a>
      </div>
      <div class="menu-item">
        <a class="menu-link pq-menu d-none" href="../settings/clinic" data-permit="CLINIC_MANAGE">
          <span class="menu-icon">
            <i class="ki-duotone ki-bank fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </span>
          <span class="menu-title">Clinics</span>
          <span
              class="badge badge-changelog badge-light-success bg-hover-danger text-hover-white fw-bold fs-9 px-2 ms-2"
              ></span>
        </a>
      </div>

    </div>
  </div>
  <!--end::Menu-->
</div>

<div class="aside-footer flex-column-auto pb-5 d-none" id="kt_aside_footer">
  <a href="index.html" class="btn btn-light-primary w-100">Button</a>
</div>
